[Unit]
Description=mailaddress_everyday_send_and_record #説明を記す
After=network.target #インターネットに接続後という条件指定

[Service]
Type=simple
ExecStart=/home/example/server/bin/python /home/example/server/record_everyday_send_and_record.py #フルパス（前半venvの仮想環境パス、後半実行プログラムのパス）
Restart=always #失敗しても自動的に再起動する
StandardOutput=journal #ログ関係
StandardError=journal #ログ関係

[Install]
WantedBy=multi-user.target
